/*
Querido programador.
Quando eu escrevi este código, apenas Deus e eu sabíamos como ele funcionava.
Agora, apenas Deus sabe!

Portanto, se você estiver tentando melhorar esta rotina porque está falhando e "com certeza está", por favor, aumente este contador como um aviso para a próxima pessoa.

total_horas_gastas_aqui: 64
*/

/*
Parisienne Font - Main Title
*/
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

/*
El Messiri Font - SubTitle
*/
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

/*
Unna Font - Body Shape
*/
@import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #fff;
}

.wrapper {

    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #fff;

}

.header {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: relative;
    background: url("../imgs/header-fundo.jpeg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cp1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.cp2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.cabecalho-imagem {
    height: 65px;
    margin-right: 50%;
}
  
.cabecalho-menu {
    display: flex;
    gap: 32px;
    margin-top: 2%;
}
  
.cabecalho-menu-item {
    font-family: 'El Messiri', sans-serif;
    color: #edc967;
    text-shadow: 2px 2px 3px #000;
    font-weight: 400;
    font-size: 20px;
}

.titulo {
    font-family: 'Parisienne', cursive;
    font-weight: 400;
    font-size: 80px;
    font-weight: 50px;
    background-image: url(../imgs/ouro-texture.jpg);
    background-repeat: repeat;
    background-position: center center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 5px #f7ef8a;
}

.subtitulo {
    font-family: 'El Messiri', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #d2ac47;
    text-shadow: 0 0 5px rgb(237, 201, 103, 0.7);
}

.main {
    width: 100%;
    height: auto;
    left: 1px;
    top: 0;
    position: relative;
    background-color: #fff;
    margin-bottom: 48px;
    border-top: 6px solid rgb(158, 9, 9, 0.8);
}

.sobre-o-cruso {
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    position: relative;

}

.grade {
    display: flex;
    flex-direction: column;
    align-items: center center;
    justify-content: space-around;
    padding: 10px;
}

.grade-objs {
    display: flex;
    flex-direction: row;
    align-items: center center;
    justify-content: space-around;
    padding: 30px;
}

.grade-objs-1 {
    display: flex;
    flex-direction: row;
    align-items: center center;
    justify-content: space-around;
    padding: 30px;
    margin-left: 5%;
}

.gbac {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
}

.gbac-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    margin-left: 7%;
}

.grade-img {
    height: 250px;
}

.faculdades {
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    position: relative;

}

.areas-de-atuacao-profissional {
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    position: relative;

}

.galeria {
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    position: relative;

}

.titulo-texto {
    font-family: 'Unna', serif;
    font-weight: 400;
    font-size: 50px;
    color: #ca3433;
    text-align: center;
}

.corpo-texto {
    font-family: 'Unna', serif;
    font-weight: 400;
    font-size: 24px;
    color: #000;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.faculdades-imgs-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.objs-faculdade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.subtitulo-corpo-texto {
    font-family: 'El Messiri', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #c54e4e;
    text-align: center;
}

.img-link-1 {
    width: 100px;
    height: 100px;
}

.img-link-2 {
    width: 100px;
    height: 100px;
}

.img-link-3 {
    width: 100px;
    height: 100px;
}

.img-link-4 {
    width: 100px;
    height: 100px;
}

.img-link-5 {
    width: 100px;
    height: 100px;
}